.me-image{
	margin-top: 100px;
	display: none;
}
.me-image img{
	width: 400px;
}
.me-info{
	display: none;
}
.email{
	margin-top: 60px;
	font-size: 42pt;
	margin-left: -10px;
}
.email a{
	color: black;
	font-weight: lighter;
}
.email a:hover{
	text-decoration: underline;
	color: black;
}
.move{
	text-align: left;
	margin-top: 20px;
}
.move img{
	width: 30px;
}
.info{
	margin-top: 90px;
}
.topbar{
	font-weight: lighter;
	margin-bottom: 60px;
	background: white;
	position: absolute;
	width: 100%;
	background: linear-gradient(270deg, #e91cbb, #eb810e);
	background-size: 400% 400%;
	-webkit-animation: GradientBar 6s ease infinite;
	-moz-animation: GradientBar 6s ease infinite;
	animation: GradientBar 6s ease infinite;
}
.name{
	display: inline-block;
	background: white;
}

@-webkit-keyframes GradientBar {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientBar {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientBar {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Responsive */
@media only screen and (max-width : 414px) {
	.me-image{
		margin: 0px;
		min-width: 100%;
		padding: 30px;
	}
	.atvImg {
		max-width: 80%;
		min-height: 80%;
	}
	.construction{
		color: white;
		margin-top: 0px;
		padding: 10px;
		background: -moz-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(194,78,167,1) 63%, rgba(143,53,122,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,96,179,1)), color-stop(63%, rgba(194,78,167,1)), color-stop(100%, rgba(143,53,122,1)));
		background: -webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(194,78,167,1) 63%, rgba(143,53,122,1) 100%);
		background: -o-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(194,78,167,1) 63%, rgba(143,53,122,1) 100%);
		background: -ms-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(194,78,167,1) 63%, rgba(143,53,122,1) 100%);
		background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(194,78,167,1) 63%, rgba(143,53,122,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#8f357a', GradientType=1 );
	}
	.construction b{
		font-weight: normal;
	}
	.info{
		margin-top: 0px;
		padding-top: 50px;
	}
	.topbar{
		background: none !important;
	}
	.name{
		display: block;
		background: none;
	}
	.email{
		padding-left: 30px;
		font-size: 24pt;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.email img{
		width: 40px;
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Image */
.atvImg {
	width: 400px;
	height: 500px;
	border-radius: 5px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 104%;
	height: 104%;
	top: -2%;
	left: -2%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
}

.atvImg-shadow {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}
